<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  list-style-type: none;
    margin:0;
    padding: 0;
    top: 0;
    width: 100%;
    background-color: #694BFF;
    position: fixed;
    height: 65px;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

p.logo {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
  top: 0.625em;
  float: left;
}
p.logo strong {
  font-weight: 700;
}

</style>